$text: "Century Gothic";
$title-color: #1968fd;
$header: #518cfc;

html{
    margin: 0;
    padding: 0;
    } 
body{
    font-family: $text;
    }
#loader-small {
    display: none;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #fd1933;
    width: 30px;
    height: 30px;
    top: 40%;
    left: 50%;
    position: absolute;
    
    -widget-animation: spin 1s linear infinite; 
    animation: spin 1s linear infinite; 
    }
#loader-big {
    display: none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #1968fd;
    width: 80px;
    height: 80px;
    top: 40%;
    left: 50%;
    position: absolute;
    
    -widget-animation: spin 1s linear infinite; 
    animation: spin 1s linear infinite; 
    }

@-widget-keyframes spin{
     0% {-widget-transform: rotate(0deg);}
    100% {-widget-transform: rotate(360deg);}
    }
@keyframes spin{
     0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
    }

#envia{
    background-color: #eb3737;
    border: 1px solid #eb3737;
    border-radius: 50%;
    padding: 10px 10px;
    border-style: none;
    color: #ffffff;
    width: 50px;
    height: auto;
    text-align: center;
    box-shadow: 1px 5px 15px rgba(0,0,0,.4);
    cursor: pointer;
}
button{
    width: auto;
}

h1{
    font-size: 3em;
    color: #518cfc;
    font-style: italic;
}
.name{
    color: #1968fd;
    font-size: 2em;
}
.container ul li {
    list-style: none;
}